.select_container {
  width: 100%;
  margin-top: 1rem;
}

.select_container label {
  display: block;
  margin: 5px auto;
  width: 60%;
  font-weight: bold;
  font-size: 12px;
}

.select_container select {
  display: block;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #bbb;
  height: 45px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #464545;
  border-radius: 4px;
}
